<?xml version="1.0"?>
<config>
	<modules>
        <Zjel_Homepage>
            <version>1.0.0</version>
        </Zjel_Homepage>
    </modules>
 	<global>
	      <page>
	           <layouts>
	                <homepage>
	                    <label>Homepage</label>
	                    <template>page/homepage.phtml</template>
	                </homepage>
	       </layouts>
	      </page>
	 </global>
</config>